<h1>How to learn Micro-Frontends </h1>

Firstly read an intro article **[here](https://martinfowler.com/articles/micro-frontends.html)**

Then read how to practically **[build them](https://codeburst.io/4-practical-ways-to-build-micro-frontends-4dc4f0b8a921)**

Then watch this **[talk](https://www.youtube.com/watch?v=ftBc8w-lwmY)**